.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

main.pusher {
    margin-left: 210px;
}

.flex-seperator {
    flex-grow: 1;
}

.sidebar-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding: 0;
    height: calc(100% - 40px);
}

.ui.folder .ui.folder {
    margin-top: 0;
    margin-left: 15px;
}

.ui.accordion:not(.styled) .title ~ .content:not(.ui) {
    padding: 0 0 0 0;
}

.align-center {
    text-align: center;
}

.tasks-list {
    padding-right: 0 !important;
}

.tasks-list > .ui.selection.list > .item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.task-info {
    background-color: #f3f3f3;
}

#overview, #files, #logs {
    padding: 0 20px;
}

#tasks {
    padding-left: 20px;
    height: 100%;
}

#tasks > .ui.grid {
    height: 100%;
}

.pusher {
    height: 100vh;
}
